
.formulario{
    display: flex;
    justify-content: center;
}


.formulario form{
    width: 300px;
    padding: 10px;
}
#cambiar{
    background-color: pink;
    border: none;
}
.hor-lug{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}