/* Content App */


h1{
    font-size: 600px;
    font-weight: 600;
    color: rgb(71, 80, 255);
    font-family: 'arial';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    
}

.busqueda{
    display: flex;
    justify-content: center;
}
.button1 {
  border-color: white;
  border-radius: 10px;
  background-color:  rgb(71, 80, 255);
  color: white;
  height: 45px;
  width: 220px;
  font-size: 15px;
  font-family: Calibri;
  font-weight: 800;
  
}
